 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>M&T is a local electrical company located in Roswell, serving proudly the Atlanta and surrounding metro area for all types of Residential electrical needs. Our company is founded in trust, integrity and loyalty to our costumers.</p>
                </div>
                <div class="col-lg-4">
                    <p>We are proudly provide our services and take pride in what we do. We are not finished until you are happy with your project. Relationships come before business and Honesty is our only policy. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br>
                  <br>
                    <h2>Why choose M&T</h2>
                    <hr class="star-light">
                    <div class="col-lg-14">
                    <p style="color:#233140"> <b>Customer-Centric</b>:</p>
                    <p> When we visit your home, we are there to repair your electrical problems and install your improvements. Our trained and background checked technicians are not commission based, so they won't try and sell you something you do not need. And time-permitting, we'll provide additional electrical insights to keep your home safe and powered. </p>
                    <br>
                    <p style="color:#233140"> <b>Appointment Timeliness</b>:</p>
                    <p> We meet our two-hour window for your next electrical service. When necessary, we can even isolate it down to a 30-minute window. When you call or email, let us know your situation and we'll do what we can to accommodate your schedule. </p>
                    <br>
                    <p style="color:#233140"> <b>Affordability</b>:</p>
                    <p> We provide competitive pricing to give you the quality electrical repair and installation support while also making it cost-effective for you (our reputation depends on it). Don't break the bank when hiring quality electricians from M&T Electric. </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
